extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Post new messages here!
  
  ul 
    each message, index in messages
      li #{index + 1}. 
        p <b>#{message.user}</b> said:
        p #{message.text}
        p <i>Posted: #{message.added.toUTCString()}</i>

